body{text-align:center;font-size:16pt;color:rgb(0, 0, 0)}h2{color:#525252}.howcute{width:400px}h1{color:#525252}h3{color:#525252}
@font-face {
  font-family: "VT323";
  src: url("./VT323-Regular.ttf") format("truetype");
}
body {
  font-family: "VT323", sans-serif;
}li{
  float: left;
}

li a{
  color: #000000;
  display: block;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
}

ul{
  background-color: #b7b7b7;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  list-style-type: none;
}
